<%- include('partials/header2') -%>

    <main id="main1">
        <p>My partner and I love to play Animal Crossing together every morning. Recently we decided to collect all of the songs in the game, only to find that there are over 100! We got tired of running to the house everyday to check our stereos so I made this app to help us keep track of what we have!</p>

        <p>Over time, we started finding it difficult to keep track of other things, so now this tool has been upgraded to include Daily Tasks, Gyroids, Fossils, Art Umbrellas and more!</p>

        <p>Simply tap on the item to mark it as complete! Tap it again to do the opposite. I hope this helps you as much as it helps me!</p>

        <p>Adding more collections soon! Look out for Bugs, Sea Creatures, Clothes and more!</p>
        <form action="/login">
            <button id="loginButton">Login</button>
        </form>
        <!-- <form action="/signup">
            <button id="signupButton">Signup</button>
        </form> -->
        


        
        
        
    </main>
<%- include('partials/footer') -%>