<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACNH Collection Tracker</title>

    <!-- external CSS link -->
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/style.css">
	<script src="https://kit.fontawesome.com/13471d8c05.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <a href="/"><img id="headerImg" src="acnhLogo.png" alt="Animal Crossing: New Horizons"></a>
        <h1>ACNH Tracking Tools</h1>
    </header>
    <main id="main1">
        <h3>Signup</h3>
        <section id="signupSection">
            <% if (locals.messages.errors) { %>
                <% messages.errors.forEach( el => { %>
                    <div class="alert alert-danger"><%= el.msg %></div>
                <% }) %>    
            <% } %>
            <form action="/signup" method="POST">
                <input type="text" name="userName" placeholder="User Name">
                <input type="email" name="email" placeholder="Email">
                <input type="password" name="password" placeholder="Password">
                <input type="password" name="confirmPassword" placeholder="Confirm Password">
                <input type="submit">
            </form>
        </section>
        
    </main>
    
</body>
</html>